body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    width: 250px;
    padding: 5px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
}

.bloque {
    margin-top: 20px;
}

h1 {
    color: #0d5123;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.navbar-custom {
  background-color: #0d5123 !important;
}

button{
    background-color: #0d5123;
    color: white;
    border: none;
    cursor: pointer;
}
