nav{
    background-color: #0d5123;
    padding: 20px;
}

h2{
    color: #0d5123;
    text-align: center;
        font-style: italic;
}

.btn-sm{
    font-size: 12px;
    width: 80px;
    height: 45px;
}