h1 {
    color: #0d5123;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.navbar-custom {
  background-color: #0d5123 !important;
}

.accordion-button {
    background-color: #0d5123;
    color: white;
}

.alert-primary {
    background-color: #cfe8dc;
    border-color: #0d5123;
    color: #0d5123;
}

.accordion-button:not(.collapsed) {
    background-color: #0d5123;
    color: white;
}